
.upload {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border-top: 1px solid black;

    &__thumbnail {
        border-radius: .25rem;  
        height: 50vw;
        width: 100%;
    }

    &__button-wrap {
        display: flex;
        flex-direction: column; 
    }

    &__publish-btn {
        color: white;
        border: none;
        border-radius: .25rem;
        background-color: #0095FF;
        position: relative;
    }

    &__video-details {
        display: flex;
        flex-direction: column;
    }
    
    &__video-desc--text {
        all: unset;
        border: 1px solid grey;
        border-radius: 0.25rem;
        line-height: 2rem;
        height: 5rem;
    }

    &__cancel-btn {
        border: none;
        background-color: white;
        color: #0095FF;
    }
}