@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';


.comments {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  @include mixins.font(AvenirNextRegular);

  &__form {
    margin-left: 1.2rem;
    width: 100%;
  }

  &__comment-info {
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      width: 100%;
      height: 5rem;
    }
  }

  &__comment-box-title {
    color: #AFAFAF;
    margin-bottom: 0.2rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__form-profile {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
  }

  &__form-txt {
    resize: none;
    height: 8rem;
    width: 100%;
    border-radius: 0.25rem;

    @media (min-width: 768px) {
      height: 3rem;
      width: 60vw;
    }

    @include mixins.desktop {
      width: 40vw;
  } 

    &::-moz-placeholder {
      color: #323232;
      padding: 0.4rem;
      font-size: 1.2rem;
    }

    &::placeholder {
      color: #323232;
      padding: 0.4rem;
      font-size: 1.2rem;
    }
  }

  &__wrapper-row {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;

  }

  &__wrapper-column {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    background-color: #0095ff;
    color: #fff;
    border-radius: 0.25rem;
    margin-top: 1rem;
    position: relative;
    border: none;
    width: 100%;
    height: 2.5rem;

    &::before {
      content: url(../../assets/icons/add_comment.svg);
      position: absolute;
      top: 0.5rem;
      left: 1rem;
    }

    @media (min-width: 768px) {
      width: 25%;
      height: 3rem;
      margin-left: 2rem;
    }

    @include mixins.desktop {
      width: 10rem;
  } 

  }

  &__comments-list {
    margin-top: 1rem;
  }

  &__comment {
    padding-top: 1rem;
    display: flex;
    border-top: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__comment-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__comment-text {
    width: 100%;
  }

  &__comment-body {
    width: 100%;
  }

  &__comment-profile {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1rem;
  }
}
