$box-sizing: border-box;

* {
  box-sizing: $box-sizing;
  font-size: 100%;
  margin: 0;
}

.main-content {
  display: flex;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }
}

.side-content {
  width: 65%;
}

.side-content-right {
  width: 100%;
}
